[flake8]
ignore = A003,A005,C101,D403,E501,F403,F405,I100,I201,W503,W504
exclude =
    .git,
    __pycache__,
    .venv
    .vscode
    ./**/migrations/*
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-Linenumber = 500
max-line-length = 119
multiline-quotes = double
