<aside x-show="mobileSidebarOpen"
        x-cloak
        class="sidebar"
        x-transition:enter="enter-transition"
        x-transition:enter-start="enter-start"
        x-transition:enter-end="enter-end">
<section class="card p-4">
 <h2>Categories</h2>
 <ul class="hoverlist">
     <li class="highlight">
         <a href="">
             <img class="icon" src="https://img.icons8.com/small/96/null/landscape.png" />
             <span class="category-name">Landscape</span>
         </a>
     </li>
     <li>
         <a href="">
             <img class="icon" src="https://img.icons8.com/small/96/null/portrait.png" />
             <span class="category-name">People</span>
         </a>
     </li>
     <li>
         <a href="">
             <img class="icon" src="https://img.icons8.com/small/96/null/dog.png" />
             <span class="category-name">Animals</span>
         </a>
     </li>
     <li>
         <a href="">
             <img class="icon" src="https://img.icons8.com/small/96/null/180-degrees.png" />
             <span class="category-name">Black & White</span>
         </a>
     </li>
 </ul>
</section>
<section class="card p-4">
 <div class="section-header">
     <img class="section-icon" src="https://img.icons8.com/ios-glyphs/90/null/fire-heart.png" />
     <h2>Top Posts</h2>
 </div>
 <ul class="hoverlist">
     <li>
         <a href="" class="post-item">
             <div class="post-info">
                 <img class="post-thumbnail" src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
                 <img class="user-icon" src="https://img.icons8.com/small/96/A9A9A9/happy.png" />
                 <span class="post-author">Homer</span>
             </div>
             <span class="post-meta">3 Likes / 1</span>
         </a>
     </li>
     <li>
         <a href="" class="post-item">
             <div class="post-info">
                 <img class="post-thumbnail" src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg" />
                 <img class="user-icon" src="https://img.icons8.com/small/96/A9A9A9/happy.png" />
                 <span class="post-author">Homer</span>
             </div>
             <span class="post-meta">3 Likes / 1</span>
         </a>
     </li>
 </ul>
</section>
<section class="card p-4">
 <div class="section-header">
     <img class="section-icon" src="https://img.icons8.com/ios-glyphs/90/null/fire-heart.png" />
     <h2>Top Comments</h2>
 </div>
 <ul class="hoverlist">
     <li>
         <a href="" class="comment-item">
             <div class="comment-info">
                 <img class="comment-user-icon" src="https://img.icons8.com/small/96/A9A9A9/happy.png" />
                 <span class="comment-text">Homer : Comment</span>
             </div>
             <span class="comment-meta">3 Likes / 1</span>
         </a>
     </li>
     <li>
         <a href="" class="comment-item">
             <div class="comment-info">
                 <img class="comment-user-icon" src="https://img.icons8.com/small/96/A9A9A9/happy.png" />
                 <span class="comment-text">Homer : Comment</span>
             </div>
             <span class="comment-meta">3 Likes / 1</span>
         </a>
     </li>
 </ul>
</section>
</aside>
