{% load static %}
<aside x-show="mobileSidebarOpen"
       x-cloak
       class="sidebar"
       x-transition:enter="enter-transition"
       x-transition:enter-start="enter-start"
       x-transition:enter-end="enter-end">
    <section class="card p-4">
        <h2>Categories</h2>
        <ul class="hoverlist">
            <li class="highlight">
                <a href="">
                    <img class="icon" src="{% static 'images/landscape.png' %}" alt="Landscape Icon" />
                    <span class="category-name">Landscape</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="icon" src="{% static 'images/portrait.png' %}" alt="Portrait Icon" />
                    <span class="category-name">People</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="icon" src="{% static 'images/dog.png' %}" alt="Dog Icon" />
                    <span class="category-name">Animals</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="icon" src="{% static 'images/180-degrees.png' %}" alt="Black & White Icon" />
                    <span class="category-name">Black & White</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="card p-4">
        <div class="section-header">
            <img class="section-icon" src="{% static 'images/fire-heart.png' %}" alt="Top Posts Icon" />
            <h2>Top Posts</h2>
        </div>
        <ul class="hoverlist">
            <li>
                <a href="" class="post-item">
                    <div class="post-info">
                        <img class="post-thumbnail" src="{% static 'images/50618365686_36f887ab88_c.jpg' %}" alt="Post Thumbnail" />
                        <img class="user-icon" src="{% static 'images/happy.png' %}" alt="User Icon" />
                        <span class="post-author">Homer</span>
                    </div>
                    <span class="post-meta">3 Likes / 1</span>
                </a>
            </li>
            <li>
                <a href="" class="post-item">
                    <div class="post-info">
                        <img class="post-thumbnail" src="{% static 'images/50618365686_36f887ab88_c.jpg' %}" alt="Post Thumbnail" />
                        <img class="user-icon" src="{% static 'images/happy.png' %}" alt="User Icon" />
                        <span class="post-author">Homer</span>
                    </div>
                    <span class="post-meta">3 Likes / 1</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="card p-4">
        <div class="section-header">
            <img class="section-icon" src="{% static 'images/fire-heart.png' %}" alt="Top Comments Icon" />
            <h2>Top Comments</h2>
        </div>
        <ul class="hoverlist">
            <li>
                <a href="" class="comment-item">
                    <div class="comment-info">
                        <img class="comment-user-icon" src="{% static 'images/happy.png' %}" alt="User Icon" />
                        <span class="comment-text">Homer : Comment</span>
                    </div>
                    <span class="comment-meta">3 Likes / 1</span>
                </a>
            </li>
            <li>
                <a href="" class="comment-item">
                    <div class="comment-info">
                        <img class="comment-user-icon" src="{% static 'images/happy.png' %}" alt="User Icon" />
                        <span class="comment-text">Homer : Comment</span>
                    </div>
                    <span class="comment-meta">3 Likes / 1</span>
                </a>
            </li>
        </ul>
    </section>
</aside>
