{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="container mx-auto mt-10 p-5 bg-white rounded shadow-md">
        <h1 class="text-2xl font-bold mb-5">{% trans "Sign In" %}</h1>
        {% if not SOCIALACCOUNT_ONLY %}
            {% setvar link %}
                <a href="{{ signup_url }}" class="text-blue-500 hover:underline">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
            {% endsetvar %}
            <p class="mb-5">
                {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
            </p>
            {% url 'account_login' as login_url %}
            <form method="post" action="{{ login_url }}" class="space-y-4">
                {% csrf_token %}
                {{ form|crispy }}
                {{ redirect_field }}
                <div class="flex justify-end">
                    <button type="submit" class="btn btn-primary bg-blue-500 text-white py-2 px-4 rounded">
                        {% trans "Sign In" %}
                    </button>
                </div>
            </form>
        {% endif %}
        {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
            <hr class="my-5">
            <div class="space-y-4">
                {% if PASSKEY_LOGIN_ENABLED %}
                    <button type="submit" form="mfa_login" id="passkey_login" class="btn btn-primary bg-transparent text-blue-500 border border-blue-500 py-2 px-4 rounded">
                        {% trans "Sign in with a passkey" %}
                    </button>
                {% endif %}
                {% if LOGIN_BY_CODE_ENABLED %}
                    <a href="{{ request_login_code_url }}" class="btn btn-primary bg-transparent text-blue-500 border border-blue-500 py-2 px-4 rounded">
                        {% trans "Mail me a sign-in code" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
