{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% block content %}
    <div class="container mx-auto mt-10 p-5 bg-white rounded shadow-md">
        <h1 class="text-2xl font-bold mb-5">{% trans "Sign Up" %}</h1>
        {% url 'account_signup' as signup_url %}
        <form method="post" action="{{ signup_url }}" class="space-y-4">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-end">
                <button type="submit" class="btn btn-primary bg-blue-500 text-white py-2 px-4 rounded">
                    {% trans "Sign Up" %}
                </button>
            </div>
        </form>
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
